/* - GENERAL --------------------- */

#content .page {
	font-size: 1.4em;
	line-height: 1.25;
}

#content a,
#content a:link,
#content a:visited {
	color: black;
}
#content a:hover,
#content a:focus {
	color: #515151;
}

#content ul, 
#content li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#content li {
	padding-bottom: 10px;
	clear: both;
}
#content ul {
	margin-bottom: 1em;
}

h1 span {
	font-weight: normal;
	font-style: italic;
}

div#content h2 {
	margin: 0 0 0.8em 0;
	padding: 0;
	clear: both;
}
div#content h3 {
	margin: 0.8em 0 0.6em 0;
	padding: 0;
	line-height: 1.3;
	clear: both;
}

div#content p {
	margin:0 0 1em 0;
}


/* - HELPER --------------------- */

p.measurement,
p.material,
p.credit,
p.download,
#content ul.people li,
#content ul.bodies li,
#content ul.items li,
#content ul.places li {
	padding: 3px 0 2px 24px;
	background-image: url(/static/img/icons/chart_bar.png);
	background-repeat: no-repeat;
	background-position: 0 0.1em;
}
p.material {
	background-image: url(/static/img/icons/brick.png);
}
p.credit {
	background-image: url(/static/img/icons/book_open.png);
}
p.download {
	background-image: url(/static/img/icons/disk.png);
}
#content ul.people li {
	background-image: url(/static/img/icons/user_suit.png);
}
#content ul.bodies li {
	background-image: url(/static/img/icons/world.png);
}
#content ul.items li {
	background-image: url(/static/img/icons/box.png);
}
#content ul.places li {
	background-image: url(/static/img/icons/map.png);
	background-position: left center;
}

p.see-all {
	text-align: right;
}
#content p.see-all a:link,
#content p.see-all a:visited,
#content p.see-all a:hover,
#content p.see-all a:focus,
#content p.see-all a:active,
#content a.see-all:link,
#content a.see-all:visited,
#content a.see-all:hover,
#content a.see-all:active,
#content a.see-all:focus {
	/* listing all psuedo classes to avoid dynamic inheritance clash in IE6 */
	padding: 3px 17px 2px 0;
	background-image: url(/static/img/icons/resultset_next.png);
	background-repeat: no-repeat;
	background-position: right 0.35em;
	white-space: nowrap;
	color: #226DCD;
	margin: 0;
}
#content p.extra.see-all a,
#content p.extra a {
	background-position: right 3px;
}

#content p.see-all a:hover,
#content p.see-all a:focus,
#content p.see-all a:active,
#content a.see-all:hover,
#content a.see-all:active,
#content a.see-all:focus {
	color: #1A539C;
}
#content .extra {
	font-size: 0.714em;
}
#content .additional {
	font-style: italic;
	font-weight: normal;
	color: #8B8B8B;
	white-space: nowrap;
}

/* - STRUCTURE --------------------- */

div.layout-e,
div#header ul#top-nav {
	background: white;
}


div.page {
	padding: 20px 20px 0 20px;
	overflow: hidden;
	zoom: 1;
}

div.primary {
	width: 298px;
	float: right;
}

div.secondary {
	width: 300px;
	float: left;
}

div.tertiary {
	width: 386px;
	float: left;
}

/* - COMPONENTS --------------------- */

div.polaroid {
	 margin: 0;
	 padding: 0;
}
div.polaroid img {
	display: block;
	border: 1px solid #D2D2D2;
	padding: 2px;
	margin-bottom: 20px;
}
div.polaroid p {
	 margin: 0;
	 padding: 2px;
}
.hasJS .img-wrapper {
	border: 1px solid #D2D2D2;
	padding: 2px;
}
.hasJS div.polaroid .img-wrapper img {
	border: 0;
	padding: 0
}
.date {
	font-size: 1.143em;
}
.meta {
	font-size: 0.714em;
	background-color: #E4E4E4;
	border: 1px solid #D2D2D2;
	padding: 10px;
	margin-bottom: 20px;
}
div#content .meta p {
	margin: 0 0 0.3em 0;
}

.map-goes-here {
	width: 704px;
	height: 306px;
}

.hasJS .map-goes-here {
	height: 300px;
}
.hasJS .map-container {
	border: 1px solid #D2D2D2;
	padding: 2px;
	width: 704px;
	height: 300px;
}
.map-goes-here img {
	display: block;
	margin: 0 auto;
	border: 1px solid #D2D2D2;
	padding: 2px;
}

#content ul.listing li .date-indicator {
	white-space: nowrap;
}
#content ul.listing li.item {
	padding-left: 95px;
	overflow: hidden;
	zoom: 1;
}
#content ul.listing h2,
#content ul.listing h3 {
	clear: none;
	margin-top: 0;
}
#content ul.listing li.item img {
	margin-left: -95px;
	border: 1px solid #D2D2D2;
	padding: 2px;
	float: left;
}