/* - GENERAL --------------------- */

#content ul, 
#content li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content li {
  padding-bottom: 10px;
  width: 60%;
  clear: both;
}
#content ul {
  margin-bottom: 1em;
}
#content h1 {
  font-size: 3em;
  margin: 0;
}
#content h2 {
  font-size: 1.5em;
  color: #666;
}
#content h3 {
  margin: 0;
  padding-bottom: 1em;
}

div#content p {
	margin:0 0 1em 0;
}


/* - HELPER --------------------- */

p.measurement,
p.material,
p.credit {
	padding: 3px 0 2px 24px;
	background-image: url(/static/img/icons/chart_bar.png);
	background-repeat: no-repeat;
	background-position: 0 0.1em;
}
p.material {
	background-image: url(/static/img/icons/brick.png);
}
p.credit {
	background-image: url(/static/img/icons/book_open.png);
}

/* - STRUCTURE --------------------- */

div.layout-e {
	background: white;
}


div.page {
	padding: 20px 20px 0 20px;
	overflow: hidden;
	zoom: 1;
}

div.secondary {
  width: 300px;
  float: left;
}

div.tertiary {
  width: 388px;
  float: left;
}

/* - COMPONENTS --------------------- */


div.polaroid {
  border: 2px solid #666;
  background-color: #ccc;
  margin: 0;
  padding: 0;
}
div.polaroid img {
  display: block;
  border: none;
}
div.polaroid p {
  margin: 0;
  padding: 2px;
}

div.text {
  padding-left: 1em;
  float: left;
  width: 300px;
}
