<style>
span.highlighted {
  background-color: yellow;
}
</style>
{% load highlight %}
    <h2>Search</h2>

    <form method="get" action=".">
      <p>
        {{ form.q }} in 
        {{ form.what }}
        <input type="submit" value="Search">
      </p>
      
        {% if page.object_list %}
            <h3>Results</h3>
            
            {% for result in page.object_list %}

                {% ifequal result.model_name "museumobject" %}
                <p class="item">
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a> - {% highlight result.text with request.GET.q %}
                </p>
                {% endifequal %}
                {% ifequal result.model_name "celestialbody" %}
                <p class="celestial-body">
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.common_name }}</a> - {% highlight result.text with request.GET.q %}
                </p>
                {% endifequal %}
                {% ifequal result.model_name "person" %}
                <p class="person">
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a> - {% highlight result.text with request.GET.q %}
                </p>
                {% endifequal %}

            {% endfor %}
        {% else %}
          {% if request.GET.q %}
            <p>Sorry, we didn't find anything.
              {% if suggestion %}
                <a href="/search/?q={{ suggestion|urlencode }}">Try {{ suggestion }} instead</a>?
              {% endif %}
            </p>
          {% endif %}
        
        {% endif %}
    </form>
