<div class="related">
	{% if item.people %}
		<h3>People and organisations</h3>
		<ul class="people">
			{% for p in item.people %}
				<li><a href="{{ p.0.get_absolute_url }}">{{ p.0 }}</a> <span class="additional">&mdash; ({{ p.1|join:", " }})</span></li>
			{% endfor %}
		</ul>
	{% endif %}
	<p class="see-all extra"><a href="/people/">See all people</a></p>

	{% if item.celestial_bodies.all %}
		<h3>Celestial bodies</h3>
		<ul class="bodies">
			{% for body in item.celestial_bodies.all %}
				<li><a href="{{ body.get_absolute_url }}">{{ body }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}	
	<p class="see-all extra"><a href="/celestial-bodies/">See all celestial bodies</a></p>

	{% with item.related_objects as related %}{% if related %}
		<h3>Related items</h3>
		<ul class="items">
			{% for obj in related|slice:"3" %}
				<li><a href="{{ obj.0.get_absolute_url }}">{{ obj.0.name }}</a>{% if obj.0.interpretative_date %}, <span class="additional">&mdash; {{ obj.0.interpretative_date }}</span>{% endif %}</a></li>
			{% endfor %}
		</ul>
	{% endif %}{% endwith %}	
	<p class="see-all extra"><a href="/items/">See all items</a></p>
</div>
