{% extends "base.html" %}

{% block title %}All items in the Cosmos and Culture Exhibition{% endblock %}
{% block pagetitle %}All items in the Cosmos and Culture Exhibition{% endblock %}

{% block content %}

<ul class="listing">
	{% for item in object_list %}
		<li class="item">
			{% if item.image %}
				<img src="{{ item.image_inline }}" width="75" alt="">
			{% endif %}
			<h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a> {% if item.interpretative_date %}<span class="date-indicator additional">&mdash; {{ item.interpretative_date }}</span>{% endif %}</h3>
			
			<p>{{ item.text|truncatewords:40 }} <a href="{{ item.get_absolute_url }}" class="see-all">read more</a></p>
		</li>
	{% endfor %}
</ul>


<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
			{% ifequal page_obj.previous_page_number 1 %}<a href="/items/">previous</a>
			{% else %}
			<a href="/items/page{{ page_obj.previous_page_number }}/">previous</a>
			{% endifequal %}
		{% endif %}
		
		<span class="current">
			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
		</span>
		
		{% if page_obj.has_next %}
			<a href="/items/page{{ page_obj.next_page_number }}/">next</a>
		{% endif %}
	</span>
</div>

{% endblock %}