{% extends "base.html" %}

{% block title %}{{ body.common_name }}{% if body.alternative_name or body.astronomical_name %} ({{ body.alternative_name|default:"" }}{% if body.alternative_name and body.astronomical_name %}, {% endif %}{{ body.astronomical_name|default:"" }}){% endif %}{% endblock %}
{% block pagetitle %}{{ body.common_name }}{% if body.alternative_name or body.astronomical_name %} <span class="additional">({{ body.alternative_name|default:"" }}{% if body.alternative_name and body.astronomical_name %}, {% endif %}{{ body.astronomical_name|default:"" }})</span>{% endif %}{% endblock %}

{% block content %}
	

	<ul class="listing">
		{% for item in body.museumobject_set.all %}
			<li class="item">
				{% if item.image %}
					<img src="{{ item.image_inline }}" width="75" alt="">
				{% endif %}
				<h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a>, {% if item.interpretative_date %}<span class="date-indicator">{{ item.interpretative_date }}</span>{% endif %}</h3>
				
				<p>{{ item.text }}</p>
			</li>
		{% endfor %}
	</ul>
	
	<p class="see-all"><a href="/items/">See all items</a></p>
{% endblock %}