{% extends "base.html" %}

{% block title %}Cosmos and Culture{% endblock %}
{% block pagetitle %}Cosmos and Culture{% endblock %}

{% block content %}

<img src="http://www.sciencemuseum.org.uk/visitmuseum/galleries/cosmos_and_culture/~/media/Images/header/column_1/candcgif.ashx" alt="Cosmos &amp; Culture">

<p>We have <a href="/items/">{{ num_items }} items</a>, <a href="/people/">{{ num_people }} people</a> and organisations and <a href="/celestial-bodies/">{{ num_celestial_bodies }} celestial bodies</a>.</p>

<h3>Search</h3>

<form method="get" action="/search/">
  <p>
    {{ form.q }} in 
    {{ form.what }}
    <input type="submit" value="Search">
  </p>
</form>


<p>Item: {{ random_item }}</p>
{{ random_item.text }}

<hr>

<p>Person: {{ random_person }}</p>
<ul class="listing">
	{% for pair in random_person.items|slice:":3" %}
		<li class="item">
			{% if pair.0.image %}
				<img src="{{ pair.0.image_inline }}" width="75" alt="" />
			{% endif %}
			<h3><a href="{{ pair.0.get_absolute_url }}">{{ pair.0.name }}</a>, <span class="additional">({{ pair.1|join:", " }})</span> {% if pair.0.interpretative_date %}<span class="date-indicator additional"> &mdash; {{ pair.0.interpretative_date }}</span>{% endif %}</h3>
			
			<p>{{ pair.0.text|truncatewords:40 }} <a href="{{ pair.0.get_absolute_url }}" class="see-all">read more</a></p>
		</li>
	{% endfor %}
</ul>	

<hr>

<p>Celestial body: {{ random_body }}</p>
<ul class="listing">
	{% for item in random_body.museumobject_set.all %}
		<li class="item">
			{% if item.image %}
				<img src="{{ item.image_inline }}" width="75" alt="">
			{% endif %}
			<h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a>, {% if item.interpretative_date %}<span class="date-indicator">{{ item.interpretative_date }}</span>{% endif %}</h3>
			
			<p>{{ item.text }}</p>
		</li>
	{% endfor %}
</ul>

{% endblock %}
