{% extends "base.html" %}

{% block title %}Cosmos and Culture{% endblock %}
{% block pagetitle %}Cosmos and Culture{% endblock %}

{% block content %}

<img src="/static/img/logo_small.jpg" alt="Cosmos &amp; Culture" class="main-image">

<div class="introduction">
	<p class="leader">We have <a href="/items/">{{ num_items }} items</a>, <a href="/people/">{{ num_people }} people</a> and organisations and <a href="/celestial-bodies/">{{ num_celestial_bodies }} celestial bodies</a>.</p>
	
	<p>Explore how astronomy has changed the way we see our universe&mdash;and ourselves&mdash;through this object-rich exhibition. From ancient heritage to cutting edge technology, trace the history of people and the stars through different stories drawn from around the world.</p>
	<p class="see-all"><a href="http://www.sciencemuseum.org.uk/visitmuseum/galleries/cosmos_and_culture.aspx">See more on the main cosmos site</a></p>

	<!--<p>Cosmos &amp; Culture uses a new multimedia display environment that allows you to explore objects in depth and find out about key scientific concepts. See how different instruments work, discover the stories of the people who made and used them, and enjoy beautiful models, illustrations and photographs.</p>

	<p>Exhibition supported by the Patrons of the Science Museum with additional support from the Science and Technology Facilities Council, STFC.</p>

	<p>See more pictures of the exhibits on <a href="http://www.flickr.com/photos/sciencemuseum/sets/72157622795904954/">Flickr</a> and get behind the scenes with videos on our <a href="http://www.youtube.com/view_play_list?p=EB3C8735A76D5C10">YouTube channel</a>.</p>-->

</div>

<form method="get" action="/search/">
  <p class="search-form">
	<label for="id_q">Search for</label>
    {{ form.q }} in 
    {{ form.what }}
    <input type="submit" value="Search">
  </p>
</form>


{% endblock %}

{% block extracontent %}
<div class="home-cols">
	<div class="home-col-1 home-col item">
		<h2><a href="{{ random_item.get_absolute_url }}">{{ random_item.name }}</a> {% if random_item.interpretative_date %}<span class="date-indicator additional">&mdash; {{ random_item.interpretative_date }}</span>{% endif %} <span class="type-indicator">item</span></h2>
		<p>{{ random_item.text }}</p>
		{% if random_item.image %}
			<img src="{{ random_item.image_inline }}" width="200" alt="">
		{% endif %}
		<p class="see-all"><a href="{{ random_item.get_absolute_url }}">Read more</a></p>
		<p class="see-all"><a href="/items/">See all items</a></p>
	</div>

	<div class="home-col-2 home-col person">

		<h2><a href="{{ person.get_absolute_url }}">{{ random_person }}</a> <span class="type-indicator">person</span></h2>
		<ul>
			{% for pair in random_person_items|slice:":1" %}
				<li>

					<h3><a href="{{ pair.0.get_absolute_url }}">{{ pair.0.name }}</a>, <span class="additional">({{ pair.1|join:", " }})</span> {% if pair.0.interpretative_date %}<span class="date-indicator additional"> &mdash; {{ pair.0.interpretative_date }}</span>{% endif %}</h3>
		
					<p>{{ pair.0.text|truncatewords:20 }}</p>
					
					{% if pair.0.image %}
						<img src="{{ pair.0.image_inline }}" width="200" alt="" />
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		{% if random_person_more_num %}<p class="see-all"><a href="{{ random_person.get_absolute_url }}">And {{ random_person_more_num }} more</a></p>{% endif %}
		<p class="see-all"><a href="/people/">See all people</a></p>
	</div>

	<div class="home-col-3 home-col celestial-body">
		<h2><a href="{{ random_body.get_absolute_url }}">{{ random_body }}</a> <span class="type-indicator">celestial body</span></h2
		<ul>
			{% for item in random_body_items|slice:":1" %}
				<li>
					<h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a>, {% if item.interpretative_date %}<span class="date-indicator">{{ item.interpretative_date }}</span>{% endif %}</h3>
			
					<p>{{ item.text|truncatewords:20 }}</p>
					{% if item.image %}
						<img src="{{ item.image_inline }}" width="200" alt="">
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		{% if random_body_more_num %}<p class="see-all"><a href="{{ random_body.get_absolute_url }}">And {{ random_body_more_num }} more</a></p>{% endif %}
		<p class="see-all"><a href="/items/">See all celestial bodies</a></p>
	</div>
</div>

{% endblock %}