{% extends "base.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block extra_head %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ maps_api_key }}" type="text/javascript"></script>
<script type="text/javascript">
jQuery(function($) {
	if (!$('.polaroid img').length) {
		return;
	}
	// Add magnify icon to trigger zoomable view
	var icon = $(
		'<img src="/static/img/icons/magnifier_zoom_in.png" alt="Zoom" />'
	);
	icon.click(makeZoomable).css('cursor', 'pointer');
	var div = $('div.polaroid')
	div.css('position', 'relative');
	icon.css({
		'position': 'absolute',
		'top': div.find('img').height() - 25,
		'left': div.find('img').width() - 25,
		'border': 'none'
	}).appendTo(div).attr('title', 'Show close-up view');
	
	function makeZoomable() {
		var img = $('div.polaroid img:first');
		var big_src = img.attr('src').replace('size=Small', 'size=Large');
		img.css('opacity', 0.4);
		var wrapper = $('<div class="img-wrapper"></div>');
		wrapper.css({
			display: 'block',
			position: 'relative',
			marginBottom: '20px'
		}).width(img.width()).height(img.height());
		img.wrap(wrapper);
		var loading = $(
			'<img src="/static/img/icons/loading-bar.gif" alt="Loading" />'
		);
		loading.css({
			position: 'absolute',
			top: img.height() / 2,
			left: '50%',
			border: 'none',
			padding: 0,
			marginLeft: '-110px'
		});
		$('.img-wrapper').append(loading);
		icon.unbind('click');
		// Load the big image
		var big = new Image();
		big.src = big_src;
		$(big).load(function() {
			var big_width = big.width;
			var big_height = big.height;
			var r = big_height / img.width();
			loading.remove();
			var container = $('<div></div>');
			container.width(img.width());
			container.height(img.height());
			container.css({
				'background-image': 'url(' + big_src + ')',
				'background-repeat': 'no-repeat',
				'background-position': '0 0'
			});
			img.hide();
			container.appendTo($('.img-wrapper'));
			var pos = container.offset();
			container.mousemove(function(ev) {
				var x = ev.pageX - pos.left;
				var y = ev.pageY - pos.top;
				container.css(
					'background-position', -(r * x) + 'px ' + -(r * y) + 'px'
				);
			});
			
			// Now get the minus button to work
			icon.attr(
				'src', '/static/img/icons/magnifier_zoom_out.png'
			).attr('title', 'Zoom out');
			var zoomed = true;
			icon.click(function() {
				if (zoomed) {
					icon.attr(
						'src', '/static/img/icons/magnifier_zoom_in.png'
					).attr('title', 'Zoom in');
					container.hide();
					img.css('opacity', 1).show();
					zoomed = false;
				} else {
					icon.attr(
						'src', '/static/img/icons/magnifier_zoom_out.png'
					).attr('title', 'Zoom out');
					container.show();
					img.hide();
					zoomed = true;
				}
			});
			
		});
	}
});

jQuery(function($) {
  return;
  var div = $('.map-goes-here');
  if (div.length) {
    div.width(704).height(300).css('clear', 'both');
    var map = new GMap2(div[0]);
    map.setCenter(new GLatLng(43.8, -37.3), 1);
    var geocoder = new GClientGeocoder();
    var bounds = new GLatLngBounds();
    /* Now pull in the places */
    $('ul.places span').each(function() {
      var span = $(this);
      var location = span.text().replace(', World', '');
      geocoder.getLatLng(location, function(point) {
        var marker = new GMarker(point);
        map.addOverlay(marker);
        GEvent.addListener(marker, "click", function() {
          marker.openInfoWindowHtml(
            span.parent().html().replace(' - ', '<br>')
          );
        });
        bounds.extend(point);
        map.setCenter(
          bounds.getCenter(), Math.min(
            6, (map.getBoundsZoomLevel(bounds) - 1)
          )
        );
      });
    });

    div.wrap('<div class="map-container"></div>');
  }
});
</script>
{% endblock %}

{% block pagetitle %}{{ item.name }}{% endblock %}

{% block content %}

<div class="primary">
	
	<h2>{{ item.headline|default:"" }}</h2>
	<p>{{ item.text }}</p>

	{% if item.people %}
		<h3>People and organisations</h3>
		<ul class="people">
			{% for p in item.people %}
				<li><a href="{{ p.0.get_absolute_url }}">{{ p.0 }}</a> - {{ p.1|join:", " }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if item.celestial_bodies.all %}
		<h3>Celestial bodies</h3>
		<ul class="bodies">
			{% for body in item.celestial_bodies.all %}
				<li><a href="{{ body.get_absolute_url }}">{{ body }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
	
	{% with item.related_objects as related %}{% if related %}
		<h3>Related items</h3>
		<ul class="items">
			{% for obj in related|slice:"3" %}
				<li><a href="{{ obj.0.get_absolute_url }}">{{ obj.0.name }}</a>{% if obj.0.interpretative_date %}, date {{ obj.0.interpretative_date }}{% endif %}</a></li>
			{% endfor %}
		</ul>
	{% endif %}{% endwith %}
</div>

<div class="tertiary">
	
	{% if item.image %}
		<div class="polaroid">
 			<img src="{{ item.image_small }}">
 			<p class="date"><strong>Date:</strong> {{ item.interpretative_date }}</p>
		</div>
	{% else %}
		<p class="date"><strong>Date:</strong> {{ item.interpretative_date }}</p>
	{% endif %}
	
	{% if item.materials.all or item.measurements.all or item.credit %}
		<div class="meta">
			{% if item.materials.all %}
				<p class="material"><strong>Made of:</strong> 
				{% for material in item.materials.all %}
					the {{ material.component }} is made of {{ material.description }}{% if not forloop.last %}, {% endif %} 
				{% endfor %}</p>
			{% endif %}
	
			{% if item.measurements.all %}
				<p class="measurement"><strong>Measurements:</strong> 
		 		{% for measurement in item.measurements.all %}
		 			{{ measurement.description }}{% if not forloop.last %}, {% endif %}
		 		{% endfor %}</p>
			{% endif %}
	
			{% if item.credit %}
				<p class="credit"><strong>Credit:</strong> {{ item.credit }}</p>
			{% endif %}
			
			{% if item.image %}
				<p class="download"><strong>Download</strong> <a href="{{ item.image_large }}">desktop wallpaper</a></p>
			{% endif %}
		</div>	
	{% endif %}
	
</div>

{% if item.places %}

	<h3>Places</h3>
	<ul class="places">
		{% for p in item.places %}
			<li><span>{{ p.0 }}</span> - <strong>{{ p.1|join:", " }}</strong></li>
		{% endfor %}
	</ul>
	
	<div class="map-goes-here"><img src="http://maps.google.com/maps/api/staticmap?size=704x300&amp;maptype=roadmap&amp;markers=color:red|{% for p in item.places %}{{ p.0|urlencode }}{% if not forloop.last %}|{% endif %}{% endfor %}&amp;sensor=false&amp;key={{ maps_api_key }}" alt="Map showing {% for p in item.places %}{{ p.0 }}{% if not forloop.last %} and {% endif %}{% endfor %}"></div>

{% endif %}

{% endblock %}
