{% extends "base.html" %}
                      
{% block title %}{{ item.name }}{% endblock %}

{% block extra_head %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ maps_api_key }}" type="text/javascript"></script>
<script type="text/javascript">
jQuery(function($) {
  var div = $('.map-goes-here');
  if (div.length) {
    div.width(704).height(300).css('clear', 'both');
    var map = new GMap2(div[0]);
    map.setCenter(new GLatLng(43.8, -37.3), 1);
    var geocoder = new GClientGeocoder();
    var bounds = new GLatLngBounds();
    /* Now pull in the places */
    $('ul.places span').each(function() {
      var span = $(this);
      var location = span.text().replace(', World', '');
      geocoder.getLatLng(location, function(point) {
        var marker = new GMarker(point);
        map.addOverlay(marker);
        GEvent.addListener(marker, "click", function() {
          marker.openInfoWindowHtml(
            span.parent().html().replace(' - ', '<br>')
          );
        });
        bounds.extend(point);
        map.setCenter(
          bounds.getCenter(), Math.min(
            6, (map.getBoundsZoomLevel(bounds) - 1)
          )
        );
      });
    });
  }
});
</script>
{% endblock %}

{% block pagetitle %}{{ item.name }}{% endblock %}

{% block content %}

	<div class="tertiary">
		
		{% if item.image %}
			<div class="polaroid">
	 			<img src="{{ item.image_small }}">
	 			<p class="date"><strong>Date:</strong> {{ item.interpretative_date }}</p>
			</div>
		{% else %}
			<p class="date"><strong>Date:</strong> {{ item.interpretative_date }}</p>
		{% endif %}
		
		{% if item.materials.all %}
			<p class="material"><strong>Made of:</strong> 
			{% for material in item.materials.all %}
				the {{ material.component }} is made of {{ material.description }}{% if not forloop.last %}, {% endif %} 
			{% endfor %}</p>
		{% endif %}
		
		{% if item.measurements.all %}
			<p class="measurement"><strong>Measurements:</strong> 
	 		{% for measurement in item.measurements.all %}
	 			{{ measurement.description }}{% if not forloop.last %}, {% endif %}
	 		{% endfor %}</p>
		{% endif %}
		
		{% if item.credit %}
			<p class="credit"><strong>Credit:</strong> {{ item.credit }}</p>
		{% endif %}
		
	</div>
	
	<h2>{{ item.headline|default:"" }}</h2>
	<div class="text">{{ item.text }}</div>

<div class="secondary">
{% if item.people %}
  <h3>People and organisations</h3>
  <ul>
  {% for p in item.people %}
  <li><a href="{{ p.0.get_absolute_url }}">{{ p.0 }}</a> - {{ p.1|join:", " }}</li>
  {% endfor %}
  </ul>
{% endif %}

{% if item.celestial_bodies.all %}
  <h3>Celestial bodies</h3>
  <ul>
  {% for body in item.celestial_bodies.all %}
  <li><a href="{{ body.get_absolute_url }}">{{ body }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% with item.related_objects as related %}
  {% if related %}
  <h3>Related items</h3>
  <ul>
  {% for obj in related|slice:"3" %}
    <li><a href="{{ obj.0.get_absolute_url }}">{{ obj.0.name }}{% if obj.0.interpretative_date %}, {{ obj.0.interpretative_date }}{% endif %}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
{% endwith %}

</div>

{% if item.places %}
<h3>Places</h3>
<ul class="places">
  {% for p in item.places %}
    <li><span>{{ p.0 }}</span> - <strong>{{ p.1|join:", " }}</strong></li>
  {% endfor %}
</ul>
<div class="map-goes-here"><img src="http://maps.google.com/maps/api/staticmap?size=600x300&amp;maptype=roadmap&amp;markers=color:red|{% for p in item.places %}{{ p.0|urlencode }}{% if not forloop.last %}|{% endif %}{% endfor %}&amp;sensor=false&amp;key={{ maps_api_key }}" alt="Map showing {% for p in item.places %}{{ p.0 }}{% if not forloop.last %} and {% endif %}{% endfor %}"></div>

{% endif %}

{% endblock %}
